* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container {
  position: relative;
  width: 300Px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
#road{
  position: absolute;
  background-image: url(../images/imgRoad_300x600.jpg);
  width: 300px;
  height: 20000px;
  top: -500px;
  background-position-x: 4px;
}

#road-1 {
  position: absolute;
  width: 300px;
  height: 1300px;
}
#car {
  position: absolute;
  bottom: 26px;
  transform: translate(21px, 0px);
  left: 33px;
  transform-origin: bottom right;
}
#sprit-1 {
  position: absolute;
  left: 14px;
  top: 150px;
  height: 120px;
  width: 120px;
  display: flex;
  border: 1px solid #fff;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transform: translate(138px, 201px) scale(0);
}
#arrow-1 {
  position: absolute;
  top: 257px;
  width: 3px;
  height: 154px;
  left: 169px;
  transform: rotate(330deg) scale(0);
  transform-origin: right bottom;
}
.logo {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
#logo-1 {
  position: absolute;
  left: -5px;
  top: -6px;
}
#logo-2 {
  position: absolute;
  left: -238px;
  top: -6px;
}
#logospt-1 {
  position: absolute;
  left: -609px;
  top: 2px;
  opacity: 0;
}
#tracker-1 {
  position: absolute;
  top: 66px;
  left: 7px;
  transform: scale(0);
}

#logospt-2 {
  position: absolute;
  left: -489px;
  top: -6px;
  opacity: 0;
}
#tracker-2 {
  position: absolute;
  top: 6px;
  left: 7px;
  transform: scale(0);
}
.logo-3 {
  position: absolute;
  left: -125px;
  top: 2px;
}
#logo-4 {
  position: absolute;
  left: -360px;
  top: 3px;
}
#sprit-2 {
  position: absolute;
  left: 140px;
  left: 149px;
  top: 45px;
  height: 160px;
  width: 142px;
  display: flex;
  border: 1px solid #fff;
  overflow: hidden;
  transform: translate(-1px, 223px) scale(0);
}
#arrow-2 {
  position: absolute;
  top: 214px;
  width: 4px;
  height: 204px;
  left: 205px;
  transform: rotate(14deg) scale(0);
  transform-origin: left bottom;
}
#deer {
  position: absolute;
  overflow: hidden;
  width: 61px;
  height: 57px;
  top: 56px;
  left: 16px;
  transform: translate(0, 0) scale(0.3);
}
#deer-border {
  position: absolute;
  border: 1px solid white;
  width: 54px;
  height: 55px;
  overflow: hidden;
  top: 2px;
  left: 0px;
  opacity: 0;
}
#run {
  position: absolute;
  left: 56px;
  top: 11px;
  height: 91px;
  width: 46px;
  overflow: hidden;
  transform: translate(0, 0) scale(0.3);
}
.runborder-1 {
  position: absolute;
  border: 1px solid white;
  width: 32px;
  top: 36px;
  height: 45px;
  left: 5px;
}
.runborder-2 {
  position: absolute;
  border: 1px solid white;
  width: 21px;
  top: 19px;
  height: 18px;
  left: 10px;
}
.run-man {
  position: absolute;
  top: 15px;
  transform: scale(0.9);
}
#line {
  position: absolute;
  left: -29px;
  top: -111px;
  width: 149px;
  height: 199px;
}
#line-1 {
  transform: rotateX(354deg);
  position: absolute;
  left: 44px;
  top: -164px;
  width: 7px;
  height: 241px;
}
.street {
  position: absolute;
  top: 78px;
  left: 24px;
  overflow: hidden;
  width: 99px;
  transform: rotateX(30deg);
  height: 83px;
}
.rightcopy {
  position: absolute;
}
#intel-1 {
  position: absolute;
  width: 900px;
  height: 600px;
  top: 0px;
  opacity: 0;
}
#text {
  position: absolute;
  width: 270px;
  height: 355px;
  top: 75px;
  left: 9px;
}
#text-1 {
  position: absolute;
  left: -324px;
  top: -118px;
  opacity: 0;
}
#text-2 {
  position: absolute;
  left: -622px;
  top: -118px;
  opacity: 0;
}
#text-3 {
  position: absolute;
  left: -20px;
  top: -118px;
  opacity: 0;
}
#text-4 {
  position: absolute;
  left: -319px;
  top: -118px;
  opacity: 0;
}
#text-5 {
  position: absolute;
  left: -618px;
  top: -118px;
  opacity: 0;
}
#text-6 {
  position: absolute;
  left: -18px;
  top: -118px;
  opacity: 0;
}
#text-7 {
  position: absolute;
  left: -318px;
  top: -118px;
  opacity: 0;
}
#text-8 {
  position: absolute;
  left: -619px;
  top: -118px;
  opacity: 0;
}
#text-9 {
  position: absolute;
  left: -18px;
  top: -118px;
  opacity: 0;
}
#text-10 {
  position: absolute;
  left: -317px;
  top: -118px;
  opacity: 0;
}
#bg {
  position: absolute;
  width: 300px;
  height: 600px;
  top: -600px;
  transform-origin: top;
}
#intext {
  position: absolute;
  width: 243px;
  height: 400px;
  top: 90px;
  left: 17px;
}
#last {
  position: absolute;
  bottom: 80px;
  left: 38px;
  font-size: 24px;
  color: white;
  opacity: 0;
}